<!DOCTYPE html>
<html>
  <head>
    <title>SUN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="box">
      <div class="sun"></div>
        <div class="menu">
          <div class="btns">
            <button id="btn" class="wkl">On/Off</button>
              <div class="butns">
                <button id="left" class="lft">Left</button>
                  <button id="right" class="rght">Right</button>
                  <br><button id="save" class="sve">SAVE</button>
              </div>
          </div>
        </div>
    </div>
      <div class="boxes">
        <div class="box1"></div>
          <div class="box2"></div>
            <div class="box3"></div>
      </div>

    
    <script src="/scripts/main.js"></script>
  </body>
  
</html>
