<!DOCTYPE html>
<html>
  <head>
    <title>SUN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="box">
      <div class="sun">
        <img src="/images/sun1.jpg"> 
      </div>
        <div class="menu">
          <div class="btns">
            <button id="btn" class="wkl">On/Off</button>
              <div class="butns">
                <button id="left" class="lft">Left</button>
                  <button id="right" class="rght">Right</button>
              </div>
          </div>
        </div>
    </div>

    
    <script src="/scripts/main.js"></script>
  </body>
  
</html>
