<!DOCTYPE html>
<html>
  <head>
    <title>SUN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="box">
      <img class="sun" src="/public/images/sun.png">
        <div class="menu">
          <div class="btns">
            <button type="button" class="wkl">On/Off</button>
          </div>
        </div>
    </div>

    
    <script src="javascripts/main.js"></script>
  </body>
  
</html>
