* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.box {
  display: flex;
  justify-content: space-between;
 
}

.sun{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-image: rgb(206, 206, 48);
  margin-left: 500px;
  border: 1px solid rgb(238, 157, 7);
  position: relative;
  border-radius: 50%;
  }
.sun.left {
  position: relative;
  left: 100px;
}
.sun.left1 {
  position: relative;
  left: 100px;
}
.sun.left2 {
  position: relative;
  left: 100px;
}
.sun.right {
  position: relative;
  right: 100px;
}
.menu {
  width: 250px;
  height: 500px;
  border: solid 1px #180707;
  

  
}
.btns {
  padding-left: 10px;
  padding-top: 10px;
}
.wkl {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
.wkl:hover {
  background-color: rgb(75, 56, 249);
  color: rgb(233, 233, 13);
  transition: all 0.24s ease-in;
}
.butns {
  padding-top: 10px;
}
.lft {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
.lft:hover {
  background-color: rgb(75, 56, 249);
  color: rgb(233, 233, 13);
  transition: all 0.24s ease-in;
}
.rght {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
.rght:hover {
  background-color: rgb(75, 56, 249);
  color: rgb(233, 233, 13);
  transition: all 0.24s ease-in;
}
.sve {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}
.sve:hover {
  background-color: rgb(75, 56, 249);
  color: rgb(233, 233, 13);
  transition: all 0.24s ease-in;
}
.boxes {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-right:300px;

}
.box1 {
  width: 50px;
  height: 50px;
  border: 3px solid rgb(12, 221, 12);
}
.box2 {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(204, 222, 8);
}
.box3 {
  width: 50px;
  height: 50px;
  border: 3px solid rgb(12, 221, 12);
}
